*{margin:0; padding: 0;}
.topo{
    padding: 8px 0;
    position: fixed;
    font-size: 12px;    
}
.logo{
    width:160px;
}

.nav-link{
    color: #4d4d50;    
}

.nav-link:hover{    
    color: #7a6af5;    
}

body{
    background-color:#037bd7;
    font-family: 'ui-sans' , sans-serif;    
}

.title-h5{
    text-decoration: none;
    color: #f1f2f7;
    font-size: 1.9vh;
    font-style: italic;               
}

.title-h2{
    text-decoration: none;
    color: #f1f2f7;
    font-size: 4.5vh;
    text-align: justify;           
}

.foto-baner{
    width: 21vh;
    height: auto;
}

.text{
    text-decoration: none;
    color: #f1f2f7;
    font-size: 1.8vh;
    text-align:justify;
    font-style:italic; 
    letter-spacing: 0.1vh; 
      
}

footer{
    padding: 5px 0;
    position: relative;

}

.rodape{    
    font-size: 1.4vh;    
 } 
