*{margin:0; padding: 0;}
.topo{
    padding: 8px 0;
    position: fixed;
    font-size: 12px;    
}
.logo{
    width:160px;
}

.nav-link{
    color: #4d4d50;    
}

.nav-link:hover{    
    color: #7a6af5;    
}

body{
    background-color:#037bd7;
    font-family: 'ui-sans' , sans-serif;    
}


.card-titlePricipal {
    text-decoration: none;
    color: #f1f2f7;
    font-size: 4.5vh;
    text-align: justify;    
}

.card-title{
    text-decoration: none;
    color: #f1f2f7;
    font-size: 2.3vh;   
    font-weight: bold;
    text-align:justify;            
}

.card-text{
    text-decoration: none;
    color: #f1f2f7;
    font-size: 1.8vh;
    text-align:justify;
}

footer{
    padding: 5px 0;
    position: relative;

}

.rodape{    
    font-size: 1.4vh;    
 } 