*{margin:0; padding: 0;}
.topo{
    padding: 8px 0;
    position: fixed;
    font-size: 12px;    
}
.logo{
    width:160px;
}

.nav-link{
    color: #4d4d50;    
}

.nav-link:hover{    
    color: #7a6af5;    
}

body{
    background-color:#037bd7;
    font-family: 'ui-sans' , sans-serif;    
}

.eu{
    width: 185px;
    height: 175px;
    margin-top: 2px;
    border-width: 10px;
    border-style:double;
    border-color: rgb(59, 129, 251);
    border-radius: 50%;
}

.text-title{
   text-decoration: none;
    color: #f1f2f7;
    font-size: 3.2vh; 
    font-style:oblique;  
}

.text{
    color: #f1f2f7;
    font-size: 2.2vh;
    font-style:italic;    
} 

.text-eu{
    color: #052761;
    font-size: 4.8vh;
    font-style:oblique;
    font-weight: 600;   
} 
.text-eu::after {
    content: '';
    display: block;
    width: 2.5em;
    height: .09em;
    background-color: #052761;
    margin: 0 auto;
    margin-top: .1em;
}

.textElas{
    color: #f1f2f7;
    font-size: 1.8vh; 
    text-align: justify;
     
}       

footer{
    padding: 5px 0;
    position: relative;
}

.rodape{    
    font-size: 1.4vh;    
 } 

