.topo{
    padding: 8px 0;
    position: fixed;
    font-size: 12px;    
}
.logo{
    width:160px;
}

.nav-link{
    color: #4d4d50;    
}

.nav-link:hover{    
    color: #7a6af5;    
}

body{
    background-color:#037bd7;
    font-family: 'ui-sans' , sans-serif;    
}

h3{
    color: #d5d9fc;    
}

.text-title{
    color: #d5d9fc;
    font-size: 1.4rem;
    text-align: justify; 
}

.text{
    text-decoration: none;
    color: #d5d9fc;
    font-size: 0.9rem;
    text-align: justify;
}

footer{
    padding: 5px 0;
    position: relative;

}
.rodape{    
   font-size: 10px;
   color: #a6a6a6;
} 


